<footer>
    <div class="footer-content">
        <div class="footer-links">
            <a href="#">Nutrition & Allergens</a>
            <a href="#">Customer Support</a>
            <a href="#">Legal</a>
            <a href="#"> Franchising</a>
            <a href="#"> Merchandise</a>
            <a href="#"> Press Room</a>
        </div>
        <div class="social-links">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-youtube"></i>
        </div>
    </div>
</footer>