<header>
    <div class="nav-bar">
        <i class="fa-solid fa-bars"></i>
        <div class="logo">
            <a href="/"><img src="/imageFiles/logo.jpeg" alt="Logo"></a>
        </div>
        <a href="/cart" class="cart-icon">
            <i class="bi bi-bag"></i>
            <span><%= shoppingCart.length %></span>
        </a>
    </div>
</header>
