<header>
    <div class="nav-bar">
        <i class="fa-solid fa-bars"></i>
        <div class="logo">
            <a href="/"><img src="/imageFiles/logo.jpeg"></a>
        </div>
        <a href="/cart"><i class="bi bi-bag"></i></a>
    </div>
</header>