<div class="phone-bar">
    <i class="fa-solid fa-x"></i>
    <div class="phone-content">
        <div class="column-one">
         <a href="/">Menu 
            <div class="menu-links">
                <% for(let link of categoryLinks ){ %>
                    <ul>
                        <li><a href="/menu/<%= link.name %>"><%=link.name %></a></li>
                    </ul>
                <% } %>
            </div>
        </a>
        <a href="/register">Sign up</a>
        </div>
        <i class="bi bi-arrow-bar-down"></i>
        <i class="bi bi-arrow-bar-up"></i>
    </div>
</div>