<div class="phone-bar">
    <i class="fa-solid fa-x"></i>
    <div class="phone-content">
        <a href="/">Menu</a>
    <a href="/">Menu</a>
    <a href="/">Menu</a>
    <a href="/">Menu</a>
    </div>
</div>