<% layout('boilerplate/boiler') -%>
<main>
    <div class="hero">
      <p>Whoops..... the page you were looking for does not exist</p>
      <a href="/" class="button">Go back to Home Page</a>
    </div>
</main>