<% layout('boilerplate/boiler') -%>
<% if(cartItems && cartItems.length){ %>
<div class="cart-wrapper">
        <div class="cart-card">
            <% for(let items of cartItems){ %>
                <div class="cart-content">
                    <img src="/imageFiles/<%= items.image %>" alt="<%= items.name %>">
                    <div class="cart-info">
                        <p>$<%= items.price %></p>
                        <p><%= items.name %></p>
                        <form action="/action_page.php">
                            <label for="cars">qty:</label>
                            <select name="cars" id="cars">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                            </select>
                            <br><br>
                        </form>
                        <i class="bi bi-trash"></i>
                     </div>
                </div>
           <% } %>
        </div> 
</div>
<%  } %>


