<% layout('boilerplate/boiler') -%>
<main>
        <div class="hero">
            <p>Chick-fil-A Menu</p>
            <p>Availability may differ at different locations.</p>
        </div>
        <div class="main-section">
            <% for(link of categoryLinks){ %>
                <div class="category-container">
                    <img src="<%= link.image.url %>">
                    <div class="category-content">
                        <a href="/menu/<%= link.name %>"><%= link.name %></a>
                        <p><%= link.description %></p>
                    </div>
                </div>
            <% } %>
        </div>
</main>