<% layout('boilerplate/boiler') -%>
<div class="login-wrapper">
    <div class="signin-content">
        <p>Sign In to</p>
        <p>Chick-fil-A-One</p>
        <div class="signin-box">
            <form action="/login" method="post" enctype="multipart/form-data">
                <div class="form-floating mb-3">
                    <input type="username" class="form-control" id="username" placeholder="username" name="username">
                    <label for="username">username</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                    <label for="floatingPassword">Password</label>
                </div>
                
                <div clas="form-floating mb-3">
                    <button type="submit" class="btn btn-outline-success">LoginIn</button>
                </div>
            </form>
        </div>
    </div>
</div>