<% layout('boilerplate/boiler') -%>
<main>
    <div class="hero">
        <p><%= categoryLink[0].name %></p>
        <p>Availability may differ at different locations.</p>
    </div>
    <div class="main-section">
            <% for(link of categoryLink){ %>
                <div class="card">
                    <img src="/imageFiles/<%=link.image %>">
                    <div class="card-content">
                        <p><%=  %></p>
                    </div>
                </div>
            <% } %>
    </div>
</main>