<% layout('boilerplate/boiler') -%>
<main>
    <div class="hero">
        <p><%= categoryLink.name %></p>
        <p>Availability may differ at different locations.</p>
    </div>
    <div class="main-section">
        <% categoryLink.products.forEach((element)=>{ %>
            <div class="card">
                <a href="/"><img src="/imageFiles/<%=element.image %>"></a>
                <div class="card-content">
                    <div class="card-info">
                        <a href="/"><%= element.name %></a>
                        <p><%= element.description %> </p>
                    </div>
                    <div class="card-btn">
                        <a href="/">Order now</a>
                    </div>
                </div>
            </div>          
       <% }) %>
    </div>
</main>