@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif, "Poppins";
    box-sizing: border-box;
}
body{
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.wrapper{
    width: 100%;
    display: block;
}
header{
    width: 100%;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.nav-bar{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.nav-bar > *{
    width: 33.3%;
    font-size: 16px;
    color: #E51636;
}
.nav-bar a:last-of-type{
    text-align: right;
    text-decoration: none;
    color: #000;
    color: #E51636;
}
.fa-bars{
    font-size: 25px;
    text-align: left;
}

.logo{
    width: 33.3%;
}
.logo img{
    width: 40%;
    margin: 0 auto;
}
.phone-bar{
    position: fixed;
    width: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    background-color: #ddd;
    z-index: 999;
    display: none;
}
.phone-content{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
main{
    width: 90%;
    margin: 1rem auto;
}
.hero{
    margin-top: 2rem;
    font-size: 20px;
    text-align: center;
    color: #005BAD;
}
.hero p:last-of-type{
    margin-top: 1rem;
    font-size: 12px;
    color: #635757;
}

.main-section{
    margin:  0 auto;
    margin-top: 4rem;
}
.category-container{
    margin-top: 2rem;
} 
.category-container img{
    width: 100%;
    height: 200px;
    aspect-ratio:  1 / 1;
    object-fit: cover;
    border-radius: 30px;
}
.category-content{
    margin-top: 1rem;
    text-align: left;
}
.category-content a{
    color: #E51636;
}
.category-content p{
    margin-top: 1rem;
    font-size: 14px;
    color: #635757;
    line-height: 20px;
}
.card img{
    width: 100%;
    width: 100%;
    height: 200px;
    aspect-ratio:  1 / 1;
    object-fit: cover;
    border-radius: 30px;
}
.card{
    margin: 2rem auto;
}
.card-content{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.card-content a{
    text-decoration: none;
}
.card-info{
    font-size: 20px;
    text-align: left;
    line-height: 25px;
}
.card-info p{
    font-size: 12px;
    color: #8b7c7c;
}
.card-info a{
    color: #857d7d;
}
.card-btn{
    width: 110px;
    height: 40px;
    background-color: #E51636;
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
}
.card-btn a{
    color: #fff;
}
footer{
    margin-top: auto;
    background-color: #ddd;
    width: 100%;
    padding: 10px;
}
.footer-links{
    display:  flex;
    flex-direction: column;
}
.footer-links a{
    margin-bottom: 1rem;
    text-decoration: none;
    color: #E51636;
}